*{padding: 0; margin: 0; box-sizing: border-box;}
html, body {height: 100%;}
input {
    height: 35px;
    width: 100px;
    border: 0;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}
input::placeholder {
  color:#adadad;
}
button {
    height: 35px;
    padding: 5px 7px;
    border: 0;
    border-radius: 6px;
    vertical-align: top;
}
.play_btn {
  width: 35px;
  margin-left: 3px;
  background: #81e8f6;
  font-weight: bold;
}
.reset_btn {
  width: 60px;
  height: 25px;
  margin-top: 25px;
  background: #d3d3d3;
  font-size: 12px;
}
.wrap{
    display: flex;
    height: 100%;
    background-color: #1c1d22;
    color: aliceblue;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.game_box {
    display: flex;
    height: 80%;
    width:80%;
    align-items: center;
    justify-content: center;
}
.game_hint {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #464343;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -0.025em;
}
.left,
.right {
    flex-grow: 1;
    text-align: center;
}
.left {
  position: relative;
}
.right h2 {
    margin-bottom: 35px;
    font-size: 29px;
}
.right h2 b {
    display: inline-block;
    margin-top: -12px;
    font-size: 54px;
}
.right h2 span {
    display: block;
    margin-top: -7px;
}
.game_count span {
  display: inline-block;
  padding: 2px 9px;
  border-radius: 2px;
  background: #81e8f6;
  color: #1c1d22;
  font-size: 12px;
  font-weight: bold;
}
.game_count .count {
    display: block;
    color: #81e8f6;
    font-size: 48px;
}
  .input_box {
    margin-top: 18px;
  }
  .input_box p {
    margin-top: 9px;
    font-size: 12px;;
}


.cup {
  display: inline-block;
  width: 150px;
  height: 300px;
  overflow: hidden;
  border: 7px solid #464343;
  background: rgb(227,249,255);
}

.alcohol {
  width: 100%;
  height: 100%;
  position: relative;
  /* transform: translate3d(0, 102%, 0); */
  /* transform: translateY(102%); */
  transform: translateY(20%);
} 
.wave-one,
.wave-two {
  top: 0;
  width: 230%;
  height: 110%;
  position: absolute;
  border-radius: 45%;
}
.wave-one {
  left: -50%;
  background: rgba(152,255,251,0.8);
  animation: move 5s infinite linear;
}
.wave-two {
  left: 17%;
  transform: translate(-50%);
  background: rgba(138,239,255,0.8);
  animation: wave 7s infinite linear;
}


@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wave {
  0% { 
    transform: translate(-50%) rotate(-180deg);
  }
  100% { 
    transform: translate(-50%) rotate(360deg);
  } 
} 


@media screen and (max-width: 750px) {
  .game_box {
    flex-direction: column;
    height: 85%;
    width: 100%;
    justify-content: flex-start;
  }
  .left, .right {
    flex-grow: inherit;
}
  .cup {
    width: 100px;
    height: 200px;
    border: 4px solid #464343;
  }
  .right h2 {
    margin-top: 25px;
    margin-bottom: 12px;
    font-size: 20px;
  }
  .right h2 b {
    margin-top: -6px;
    font-size: 35px;
  }
  .right h2 span {
    margin-top: -3px;
  }
  .input_box {
    margin-top: 9px;
  }

  .game_count span {
    padding: 1px 4px;
  }

  .reset_btn {
    margin-top: 20px;
  }

  .game_hint {
    font-size: 27px;
  }
  
}

  
  