*{margin: 0;padding: 0;box-sizing: border-box;}
:root {
    --color-primary : #121212;
    --color-content : #5a5a5a;
    --color-util : #353535;
    --icon-double-arr : 3px -3px 0 #5a5a5a,
    6px -6px 0 #5a5a5a,
    3px 3px 0 #5a5a5a,
    6px 6px 0 #5a5a5a,
    
    -7px 0 0 #5a5a5a,
    -4px -3px 0 #5a5a5a,
    -1px -6px 0 #5a5a5a,
    -4px 3px 0 #5a5a5a,
    -1px 6px 0 #5a5a5a;
    --icon-arr : 3px -3px 0 #5a5a5a,
    6px -6px 0 #5a5a5a,
    3px 3px 0 #5a5a5a,
    6px 6px 0 #5a5a5a;
}
li {
    list-style: none;
}
input {
    height: 35px;
    padding: 0 20px;
    color: var(--color-content);
}
body {
    background-color: #f2f2f2;
}
.wrap {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px 30px;
    color: var(--color-primary);
}

header {
    position: relative;
    padding: 45px 0 20px;
}
.logo {
    text-align: center;
}
.logo svg {
    width: 450px;
    height: auto;
}

/* 메뉴 */
.menu {
    margin-top: 20px;
    padding-bottom: 0;
    border-bottom: 3px double var(--color-primary);
    background-color: #00000014;
}
.menu ul {
    display: flex;
    justify-content: center;
}
.menu a {
    display: inline-block;
    padding: 15px 10px;
    border-width: 0 3px 0 3px;
    border-style: double;
    border-color: transparent;
    color: var(--color-content);
    font-weight: bold;
    text-decoration: none;
}
.menu .on a {
    position: relative;
    border-color: var(--color-primary);
    background-color: #9bb0ff;
    color: #f1f1f1;
}
.menu .on a::after {
    position: absolute;
    bottom: -2px;
    left: -2px;
    content: '';
    width: calc(100% + 4px);
    height: 3px;
    background-color: #9bb0ff;
}
.menu .on a::before {
    position: absolute;
    left: -3px;
    top: -3px;
    content: '';
    width: 100%;
    height: 1px;
    border-width: 3px 3px 0 3px;
    border-style: double;
    background-color: #00000014;
    border-color: var(--color-primary);
}


/* 검색 */
.search_set {
    display: flex;
    position: absolute;
    top: 20px;
    left: 0;
}
.search {
    overflow: hidden;
    display: flex;
    visibility: hidden;
    width: 0;
    opacity: 0;
    transition: all 0.5s;
}
.active .search {
    visibility: visible;
    width: 250px;
    opacity: 1;
}
.search_set .search_open_btn {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 5px 0 0;
    border: 0;
    border-radius: 0.25rem;
    background-color: transparent;
    vertical-align: top;
    cursor: pointer;
}
/* .search_set .search_open_btn::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 4px;
    width: 4px;
    height: 4px;
    background-color: var(--color-util);
    box-shadow: 4px -0 0 var(--color-util),

    4px -4px 0 var(--color-util),
    8px -4px 0 var(--color-util),

    8px -8px 0 var(--color-util),
    12px -8px 0 var(--color-util),
    16px -8px 0 var(--color-util),
    20px -8px 0 var(--color-util),

    20px -4px 0 var(--color-util),
    24px -4px 0 var(--color-util),
    24px -0 0 var(--color-util),
    28px 0 0 var(--color-util),

    28px 4px 0 var(--color-util),
    28px 8px 0 var(--color-util),
    28px 12px 0 var(--color-util),

    24px 12px 0 var(--color-util),
    24px 16px 0 var(--color-util),
    20px 16px 0 var(--color-util),

    20px 20px 0 var(--color-util),
    16px 20px 0 var(--color-util),
    12px 20px 0 var(--color-util),
    8px 20px 0 var(--color-util),

    8px 16px 0 var(--color-util),
    4px 16px 0 var(--color-util),
    4px 12px 0 var(--color-util),

    0 12px 0 var(--color-util),
    0 8px 0 var(--color-util),
    0 4px 0 var(--color-util),

    28px 20px 0 var(--color-util),
    30px 22px 0 var(--color-util),
    30px 24px 0 var(--color-util),
    32px 22px 0 var(--color-util),

    36px 25px 0 var(--color-util),
    32px 28px 0 var(--color-util),
    34px 26px 0 var(--color-util),
    38px 28px 0 var(--color-util),
    36px 30px 0 var(--color-util),
    38px 30px 0 var(--color-util);
    transform: scale(0.7);
} */
.icon_search {
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 4px solid var(--color-util);
    pointer-events: none;
    transform: scale(1.1);
}
.icon_search::after {
    position: absolute;
    bottom: -9px;
    right: -7px;
    content: '';
    width: 5px;
    height: 13px;
    background-color: var(--color-util);
    border-radius: 25rem;
    transform: rotate(131deg);
    
}
.search .input_set {
    position: relative;
    display: inline-block;
    flex-grow: 1;
}
.search .input_set input {
    width: 100%;
    padding: 0;
    opacity: 0;
    vertical-align: top;
}
.active .search .input_set input {
    padding: 0 35px 0 15px;
    opacity: 1;
}
.search .input_set .reset_btn {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 25px;
    height: 23px;
    margin-left: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: #9bb0ff;
    color: #fff;
    font-weight: bold;
    opacity: 0;
    transition: all 0.1s;
    cursor: pointer;
}
.search .input_set.on .reset_btn {
    visibility: visible;
    opacity: 1;
}
.search .search_btn {
    flex-shrink: 0;
    width: 51px;
    height: 35px;
    margin-left: 5px;
    padding: 5px 10px;
    border: 2px double var(--color-content);
    border-radius: 0.2rem;
    background-color: #00000014;
    color: #353535;
    vertical-align: top;
    cursor: pointer;
} 

main {
    padding-top: 20px;
    line-height: 1.5em;
}
.news {
    display: flex;
    flex-direction: row;
}
#news_list li {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
}
#news_list li:last-child {
    margin-bottom: 0;
}
.news .img {
    overflow: hidden;
    flex-shrink: 0;
    width: 350px;
    height: 200px;
    border-radius: 0.25em;
    background-color: #e6e6e6;;
}
.news .img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news .txt {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;;
    padding: 10px 0 10px 20px;
}
.news .txt .title {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.news .txt p {
    color: var(--color-content);
    word-break: break-all;
}
.news .txt .source {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 10px;
    color: #aaa;
    font-size: 0.8rem;
}

#news_list .no_data {
    padding: 60px 0 0;
    color: var(--color-content);
    text-align: center;
    border-bottom: 0;
}

.paging {
    font-size: 0;
    margin: 40px 0 20px;
    text-align: center;
}
.paging a,
.paging button {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.paging .page {
    padding: 0 10px;
    vertical-align: top;
}
.paging a:not(.btn) {
    width: 30px;
    height: 30px;
    margin-left: 7px;
    padding: 5px 2px;
    border: 3px double transparent;
    color: var(--color-content);
    text-decoration: none;
    font-size: 1rem;
    line-height: 0.8rem;
    font-weight: bold;
}
.paging a:first-of-type:not(.btn) {
    margin-left: 0;
}
.paging a.on:not(.btn) {
    border-color: var(--color-content);
    background-color:#9bb0ff;
    color: #f1f1f1;
}
.btn {
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 3px;
    border: 0;
    color: transparent;
    font-size: 0;
    background-color: #00000014;
}
.btn::before {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%) scale(0.7);
    display: inline-block;
    content: '';
    width: 3px;
    height: 3px;
    background-color: #5a5a5a;
}
.last::before,
.first::before {
    left: 50%;
    box-shadow: var(--icon-double-arr);
}
.next::before ,
.last::before {
    transform: translate(-50%,-50%) scale(-0.7, 0.7);
}
.prev {
    margin-right: 5px;
    margin-left: 5px;
}
.prev::before{
    left: 40%;
    box-shadow: var(--icon-arr);
}
.next {
    margin-right: 5px;
    margin-left: 5px;
}
.next::before {
    right: 30%;
    box-shadow: var(--icon-arr);
}


input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    opacity: 0;
    position: absolute;
    right: 0;
}
.menu_open_btn {
    display: none;
}
.btn_close {
    display: none;
}

@media screen and (min-width: 1200px) {
    .paging a:not(.btn):hover {
        background-color: #c2c2c2;
        color: #f1f1f1;
        
    }
    .btn:hover {
        background-color: #c2c2c2;
    }

    .search_open_btn:hover .icon_search {
        border-color: #9bb0ff;
    }
    .search_open_btn:hover .icon_search::after {
        background-color: #9bb0ff;
    }

    .search .search_btn:hover {
        background-color: #9bb0ff;
        color: #fff;
    }
}

@media screen and (max-width: 1199px) {
    .wrap {
        width: auto;
        min-width: 360px;
    }
    header {
        min-width: 360px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 0 10px;
        border-bottom: 1px solid #ddd;
        background-color: rgba(242,242,242,0.9);
        z-index: 10;
    }
    .logo {
        text-align: left;
        padding-left: 70px;
        margin-bottom: 7px;
    }
    .logo svg {
        margin-top: 7px;
        vertical-align: top;
        width: 200px;
    }

    .search_set {
        position: initial;
        display: inherit;
    }
    .search_set .search_open_btn {
        position: absolute;
        top: 20px;
        right: 20px;
        margin: 0;
    }
    .search_set .search {
        width: 100%;
        height: 0;
        /* margin-top: 10px; */
        padding: 0 20px;
        transition: all 0.5s;
        align-items: flex-end;
    }
    .search_set.active .search {
        width: 100%;
        height: 35px;
    }
    .input_set {
        padding-left: 1px;
    }
    .search .search_btn {
        overflow: hidden;

        opacity: 0;
        transition: all 0.3s;
    }
    .active .search .search_btn {
        color: var(--color-content);
        opacity: 1;
    }
 
    .menu_open_btn {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 35px;
        height: 35px;
        border: 0;
        background-color: transparent;
    }
    .menu_open_btn::after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        height: 3px;
        background-color: var(--color-util);
        box-shadow: 0 9px 0 var(--color-util),
        0 -9px 0 var(--color-util);
    }
    .menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        margin : 0;
        padding-top: 45px;
        border-width: 0 3px 0 0;
        border-style: double;
        border-color: var(--color-primary);
        background-color: rgba(228, 228, 228, 0.9);
        opacity: 0;
        transition: all 0.5s;
    }
    .menu.active {
        visibility: visible;
        width: 60%;
        opacity: 1;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu a {
        width: 100%;
        padding: 15px 15px 15px 25px;
        border-width: 3px 0 3px 0;
        font-size: 1.2rem;
    }
    .menu .on a {
        border-width: 3px 0 3px 0;
    }
    .menu .on a::after {
        bottom: -3px;
        left: inherit;
        right: -3px;
        height: 100%;
        width: 3px;
        border-width: 3px 3px 3px 0;
        border-style: double;
        border-color: var(--color-primary);
    }
    .menu .on a::before {
        display: none;
    }
    .menu_open_btn {
        display: inline-block;
        vertical-align: top;
    }
    .btn_close {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 20px 2px;
        background: transparent;
        border: 0;
        color: var(--color-content);
        font-size: 1.7rem;
        font-weight: bold;
        cursor: pointer;
    }

    main {
        padding-top: 100px;
    }
    .news {
        flex-direction: column;
    }
    .news .img {
        width: 100%;
        height: auto;
    }
    .news .txt {
        padding: 20px 0 10px 0;
    }
}